<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>East Nashville Code and Coffee</h2>
        <p>East Nashville Code and Coffee is a free, informal co-working session. People of all skill levels bring their personal projects--building an app, writing a blog, going through programming exercises--and we use the time to socialize, work, and network.</p>

        <p>There is an introduction period where we all say our names and what we're working on. And that's about where the structure ends, everything after that is self-organized. People who are working in the same areas tend to hook up together and chat or even work together. Whatever your skill level, you're very likely to find other people in your position.</p>

        <p>Bring a laptop computer, a notebook and pens, or just yourself.</p>
      </div>
      <div class="col-md-3">
        <h2>Chat</h2>
        <p><a class="btn btn-teal" href="http://dctechslack.herokuapp.com" role="button"><i class="fa fa-slack"></i>
            Slack Signup</a></p>
        <p><a class="btn btn-teal" href="https://dctech.slack.com/messages/nova-code-coffee/" role="button"><i class="fa fa-slack"></i> Slack Channel</a></p>
      </div>
      <div class="col-md-3">
        <h2>Links</h2>
        <p><a class="btn btn-teal" href="http://www.meetup.com/NoVA-Code-Coffee" role="button"><i class="fa fa-meetup"></i> Meetup</a></p>
        <p><a class="btn btn-teal" href="https://github.com/NoVACodeCoffee" role="button"><i class="fa fa-github-alt"></i> GitHub</a></p>
        <p><a class="btn btn-teal" href="http://www.twitter.com/novacodecoffee" role="button"><i class="fa fa-twitter"></i> Twitter</a></p>
      </div>
    </div>
  </div>
</div>
